*{
	box-sizing: border-box;
}

html{
	min-height: 100vh;
}

body {
	background: radial-gradient(#26389a, #232323)
}

#main-container {

}

.game-info-container{	
	display: flex;
	justify-content: space-between;
}

.card-container{
	max-width: 400px;
	margin: 0 auto;
	perspective: 1000px;
}

.card {
	background-image: url('images/cover1.png');
	/*background-color: #ffe9d8;*/
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	cursor: pointer;
	transform-style: preserve-3d;
	transition: transform .1s ease;	
/*	overflow: hidden;*/
}

.card:hover .front{
	transform: rotateY(180deg);

}

.card:hover .back{
	transform: rotateY(0);
	transition: transform .1s ease;
}

.card:hover{
	box-sizing: border-box;
	box-shadow: inset 0px 0px 0px 7px #ffe9d8;

}

.front{
	background-image: url('images/cover1.png');
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.back {
	background: black;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.main-title{
	color: #ff7b00;
	text-align: center;
	font-size: 5em;
}

.game-info{
	color: #ffe9d8;
	font-size: 2.5em;
}

